extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat a sem vel posuere. Donec ac ante non odio faucibus lacinia nec ut justo. Duis rhoncus eros eu libero mattis, vel rhoncus ipsum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

                p Integer pulvinar maximus orci in vulputate. Quisque pretium orci ac metus rutrum, quis condimentum magna pretium. Nam erat quam, pellentesque eget velit ut, interdum consectetur nulla. Cras finibus dolor odio, in mattis nulla pulvinar non. Nulla eu porta lectus. Nulla ultricies lectus sit amet odio blandit, non.

                p Integer pulvinar maximus orci in vulputate. Quisque pretium orci ac metus rutrum, quis condimentum magna pretium. Nam erat quam, pellentesque eget velit ut, interdum consectetur nulla. Cras finibus dolor odio, in mattis nulla pulvinar non. Nulla eu porta lectus. Nulla ultricies lectus sit amet odio blandit, non vehicula tortor maximus. Phasellus et ligula porttitor, imperdiet libero quis, rhoncus eros. Nunc mattis fringilla bibendum. Mauris finibus nec diam eu lacinia. 
            .listado-iconos
                .container.mt-5.py-5.text-center
                    .row
                        .col-md-4
                            img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p Integer pulvinar maximus orci in vulputate. Quisque pretium orci ac metus rutrum, quis condimentum magna pretium. Nam erat quam, pellentesque eget velit ut, interdum consectetur nulla. Cras finibus dolor odio, in mattis nulla pulvinar non.

                        .col-md-4
                            img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                            h2.mb-4 Mejores Precios
                            p Integer pulvinar maximus orci in vulputate. Quisque pretium orci ac metus rutrum, quis condimentum magna pretium. Nam erat quam, pellentesque eget velit ut, interdum consectetur nulla. Cras finibus dolor odio, in mattis nulla pulvinar non.

                        .col-md-4
                            img(src="img/icono_precios.svg", alt="iconos precio", class="img-fluid mb-4")
                            h2.mb-4 Mejores destinos
                            p Integer pulvinar maximus orci in vulputate. Quisque pretium orci ac metus rutrum, quis condimentum magna pretium. Nam erat quam, pellentesque eget velit ut, interdum consectetur nulla. Cras finibus dolor odio, in mattis nulla pulvinar non.